.header {
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}
.header h1 {
  text-align: center;
  font-weight: 700;
}

.main {
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
}
.main h2 {
  text-align: center;
  font-weight: 700;
  margin: 0 0 1.2rem;
}
.main .subjects__list .subject-card {
  transition: all 0.3s ease;
  border: 2px solid black;
  border-radius: 12px;
  padding: 0.8rem 1.6rem;
}
.main .subjects__list .subject-card > section {
  display: flex;
  justify-content: space-between;
}
.main .subjects__list .subject-card > section p {
  color: gray;
}
.main .subjects__list .subject-card .info {
  transition: all 0.3s ease;
  display: grid;
  grid-template-rows: 0fr;
}
.main .subjects__list .subject-card .info .info-anim {
  overflow: hidden;
}
.main .subjects__list .subject-card .info .proffesors {
  display: flex;
  justify-content: space-around;
}
.main .subjects__list .subject-card .info a {
  display: block;
  text-align: center;
  width: 100%;
}
.main .subjects__list .subject-card.active .info {
  margin: 1.2rem 0 0;
  grid-template-rows: 1fr;
}