.header {
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;

    h1 {
        text-align: center;
        font-weight: 700;
    }
}


.main {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;

    h2 {
        text-align: center;
        font-weight: 700;
        margin: 0 0 1.2rem;
    }

    .subjects__list {
        .subject-card {
            transition: all 0.3s ease;
            border: 2px solid black;
            border-radius: 12px;
            padding: 0.8rem 1.6rem;

            &>section {
                display: flex;
                justify-content: space-between;

                p {
                    color: gray;
                }
            }

            .info {
                transition: all 0.3s ease;


                // <height animation
                display: grid;
                grid-template-rows: 0fr;
                .info-anim {
                    overflow: hidden;
                }
                // height animation>


                .proffesors {
                    display: flex;
                    justify-content: space-around;
                }

                a {
                    display: block;
                    text-align: center;
                    width: 100%;
                }
            }




            &.active {
                .info {
                    margin: 1.2rem 0 0;
                    grid-template-rows: 1fr;
                }
            }

        }
    }
}